.workShell :global([data-transition-plus]) {
  width: 15px !important;
  height: 15px !important;
  backface-visibility: hidden;
  will-change: transform;
}

.workShell :global([data-transition-plus] > span:first-child) {
  left: 7.5px !important;
  top: 0 !important;
  width: 1px !important;
  height: 15px !important;
  transform: none !important;
}

.workShell :global([data-transition-plus] > span:last-child) {
  left: 0 !important;
  top: 7.5px !important;
  width: 15px !important;
  height: 1px !important;
  transform: none !important;
}
